@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    font-family: 'Questrial', sans-serif;
    background: linear-gradient(to left, #f9fffd 40%, #ffebcc);
}

a.fab {
    color: black;
    transition: 300ms;
}

a.fab:hover {
    color: gray;
}