@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  font-family: 'Questrial', sans-serif;
  background: linear-gradient(38deg, #bcffee, #ffe0a3);
  background-size: 200vw 200vh;
  animation: bg-anim 19s ease infinite;
  color: #3a5750;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes bg-anim { 
  0%{background-position:0% 18%}
  50%{background-position:100% 60%}
  100%{background-position:0% 18%}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
